*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Robot', sans-serif;
}
html{
    background-color: white;
}
@import url(/assets/fonts/Poppins-Light.ttf);


/*-----root---*/
.root{
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 5vh 100vh 200vh 10vh;
    grid-template-areas: "header header header"
                         "presentation presentation presentation"
                         "asideLeft main asideRight"
                         "footer footer footer";
    background-color: #FAFAFA;
}



/*--------aside----------*/
.aside-left{
    grid-area: asideLeft;
}
.aside-right{
    grid-area: asideRight;

}



/*-------header----------*/
header{
    grid-area: header;
}
.header{
    
    background-color: black;
}

.menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo nav";
    background-color: black;
    position: fixed;
    width: 100%;
}

.menu:hover{
    box-shadow: 0.1em 0.1em 0.4em rgba(200, 200, 200, 0.2);
    transition: 0.2s;
}

/*-------nav-----------*/


.menu nav{
    grid-area: nav;
}

.nav-nav ul{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
    justify-content: right;
}

.nav-nav li{
    margin-right:60px;
}
.nav-nav a{
    text-decoration: none;
    color: rgb(200, 200, 200);
    font-size: 15px;
}
.nav-nav a:hover{
    color: #ff904e;
}

.container-jm:hover{
    color: white;
}

/*-----logo-------*/
.container-logo{
    grid-area: logo;
}

.container-logo{
    padding-left: 30px;
    padding-top: 15px;
    font-size: 16px;
}
.container-logo h2{
    color: white;
    font-family: 'Poppin-light', sans-serif;
    font-weight: 700;
}

.container-logo h2:hover{
    color: #ff904e;
}

.sub-container-logo{
    display: flex;
    max-width: 50%;
    gap: 5px;
}

.container-jm{
    color: #ff904e;
    font-size: 25px;
}

.btn-presentation{
    text-align: center;
}

.btn-presentation h2{
    color: white;
    padding-bottom: 30px;
    margin-top: 50px;
}

.btn-presentation button{
    padding: 20px;
    border-bottom: 2px solid white;
    background-color: #fc7b31;
    border-radius: 10%;
    margin-top: 120px;
    opacity: 90%;
}

.btn-presentation button:hover{
    opacity: 100%;
    cursor: pointer;
    transition: 0.8ms;
}

.btn-presentation a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}


.main-title h1{
    font-size: 60px;
    color:#fc7b31;
}

.jm{
    color: white;
    margin-left: 10px;
}

/*--------main content-------*/
.presentation{
    padding-top: 30px;
    grid-area: presentation;
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 0.1em 0.1em 0.2em black;
}

.section-presentation h2{
    font-size: 50px;
    text-align: center;
    opacity: 80%;
}


/*--------footer-----------*/
footer{
    grid-area:footer;
}
.footer{
    background-color: #FAFAFA;
    text-align: center;
}

.arr{
    padding-top: 20px;
}

